.navbar {
  background-color: bisque;
  padding: 20px; }
  .navbar h1 {
    color: brown; }

/* Estilos para header */
header {
  margin-top: 50px;
  margin-left: 25px; }
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
    margin-top: 55px; }
  header a {
    font-size: 30px;
    margin-left: 25px; }
  header div {
    font-size: 25px;
    font-weight: lighter;
    color: blue; }
  header h2 {
    margin-top: 40px; }
  @media screen and (max-width: 500px) {
    header header {
      margin-right: 50px; }
    header ul {
      flex-direction: column; } }

/* estilos footer */
footer {
  background-color: bisque;
  padding: 25px;
  padding-bottom: 10px; }
  footer ul {
    list-style: none;
    align-items: center; }
  footer img {
    margin-right: 10px; }

/* estilos perro html */
#perronuevo {
  color: #5adafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  font-family: 'Combo', cursive; }

#perroparte2 {
  color: #00b9b9;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 40px;
  margin-top: 20px;
  font-family: 'Combo', cursive; }
  #perroparte2 div {
    margin-left: 15px; }

/* estilos gatos */
#gatos1 {
  padding: 20px; }
  #gatos1 h2 {
    margin-top: 15px;
    text-decoration: underline; }
  #gatos1 p {
    margin-left: 20px; }
  #gatos1 h3 {
    font-size: 20px;
    margin-left: 25px;
    text-decoration: underline; }

/* estilos hamster */
#hamster1 {
  color: #2b3de2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  font-family: 'Combo', cursive; }

#hamster2 {
  font-family: 'Combo', cursive;
  color: #2be22b;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 40px;
  margin-top: 20px; }
  #hamster2 div {
    margin-left: 15px; }
  #hamster2 h3 {
    font-size: 20px; }

/* Estilos conejo */
#conejo1 {
  padding: 20px;
  font-family: 'Oswald', sans-serif; }

/* Animaciones */
#imagenes_tipo1 {
  animation-name: entrada-inferior;
  animation-duration: 2s; }

@keyframes entrada-inferior {
  0% {
    transform: translatey(100px); }
  100% {
    transform: translatey(0px); } }

.imagenes_tipo2 {
  animation-name: entrada-lateral;
  animation-duration: 2s;
  justify-content: left; }

@keyframes entrada-lateral {
  0% {
    transform: translateX(300px); }
  100% {
    transform: translateX(0px); } }

/* Responsive */
@media screen and (max-width: 700px) {
  #perronuevo {
    flex-direction: column; }
  #perroparte2 {
    flex-direction: column; }
  #hamster1 {
    flex-direction: column; }
  #hamster2 {
    flex-direction: column; } }
